<div class="contact">
    <h1 style="margin-left: 60px;">Contact Us</h1>
    <p style="margin-left: 60px;">For any questions or concerns, please contact us <a href="mailto:jahaandesai28@gmail.com">here</a> or fill in the form below.</p>
    <div class="container">
        <form action="/contact" method="post">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" required name="fname">
                    <div class="underline"></div>
                    <label for="" style="margin-left: 10px;">First Name</label>
            </div>
        </form>
    </div>